.about__hero{
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__title{
        width: 70%;
        font-size: 30px;
        line-height: 40px;
    }
}

@media (min-width:768px) {
    .about__hero{
        display: flex;
        &__title{
            width: 50%;
            font-size: 40px;

        }
    }
}